In [584]:
# Library dependencies
import pandas as pd
import json

In [585]:
#Load json
#purchasedata_jsonpath = "Data/purchase_data.json"
purchasedata2_jsonpath = "Data/purchase_data2.json"
#schools_csvpath = "Data/purchase_data2.json"

In [586]:
#Read json into purchase data frame
purchasedata_df = pd.read_json(purchasedata_jsonpath)
purchasedata_df.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59
5,20,Male,10,Sleepwalker,1.73,Tanimnya91
6,20,Male,153,Mercenary Sabre,4.57,Undjaskla97
7,29,Female,169,"Interrogator, Blood Blade of the Queen",3.32,Iathenudil29
8,25,Male,118,"Ghost Reaver, Longsword of Magic",2.77,Sondenasta63
9,31,Male,99,"Expiration, Warscythe Of Lost Worlds",4.53,Hilaerin92
10,24,Male,57,"Despair, Favor of Due Diligence",3.81,Chamosia29
11,20,Male,47,"Alpha, Reach of Ending Hope",1.55,Sally64
12,30,Male,81,Dreamkiss,4.06,Iskossa88
13,23,Male,77,"Piety, Guardian of Riddles",3.68,Seorithstilis90
14,40,Male,44,Bonecarvin Battle Axe,2.46,Sundast29
15,21,Male,96,Blood-Forged Skeletal Spine,4.77,Haellysu29
16,22,Female,123,Twilight's Carver,1.14,Sundista85
17,22,Female,59,"Lightning, Etcher of the King",1.65,Aenarap34
18,28,Male,91,Celeste,3.71,Iskista88
19,31,Male,177,"Winterthorn, Defender of Shifting Worlds",4.89,Assossa43
20,24,Male,78,"Glimmer, Ender of the Moon",2.33,Irith83
21,15,Male,3,Phantomlight,1.79,Iaralrgue74
22,11,Female,11,Brimstone,2.52,Deural48
23,19,Male,183,Dragon's Greatsword,2.36,Chanosia65
24,11,Male,65,Conqueror Adamantite Mace,1.96,Qarwen67
25,21,Male,63,Stormfury Mace,1.27,Idai61
26,29,Male,132,Persuasion,3.90,Aerithllora36
27,34,Male,106,Crying Steel Sickle,2.29,Assastnya25
28,15,Male,49,"The Oculus, Token of Lost Worlds",4.23,Ilariarin45
29,16,Female,45,Glinting Glass Edge,2.46,Phaedai25
...,...,...,...,...,...,...
170,9,Male,71,Demise,4.07,Reulae52
171,21,Male,84,Arcane Gem,2.23,Stryanastip77
172,21,Male,106,Crying Steel Sickle,2.29,Iskirra45
173,30,Male,0,Splinter,1.82,Chadadarya31
174,24,Male,182,Toothpick,3.48,Heuli25
175,35,Male,34,Retribution Axe,4.14,Raillydeu47
176,21,Male,182,Toothpick,3.48,Chamadar61
177,34,Other / Non-Disclosed,155,War-Forged Gold Deflector,3.73,Assassa38
178,15,Male,97,"Swan Song, Gouger Of Terror",3.58,Shaidanu32
179,40,Male,70,Hope's End,3.89,Chanosiaya39
180,18,Female,89,"Blazefury, Protector of Delusions",1.50,Raeri71
181,24,Male,1,Crucifer,2.28,Hiasri33
182,24,Male,130,Alpha,1.56,Lisossa25
183,23,Female,87,"Deluge, Edge of the West",2.20,Sundassa93
184,11,Male,170,Shadowsteel,1.98,Rina82
185,22,Male,167,"Malice, Legacy of the Queen",2.38,Siarinum43
186,40,Male,144,Blood Infused Guardian,2.86,Chanosiaya39
187,20,Female,93,Apocalyptic Battlescythe,3.91,Eurallo89
188,20,Male,78,"Glimmer, Ender of the Moon",2.33,Hirirap39
189,35,Male,179,"Wolf, Promise of the Moonwalker",1.88,Raillydeu47
190,30,Male,36,Spectral Bone Axe,2.98,Frichaya88
191,20,Male,75,Brutality Ivory Warmace,1.72,Aidaira26
192,20,Male,91,Celeste,3.71,Zontibe81
193,19,Male,101,Final Critic,4.62,Farusrian86
194,24,Male,39,"Betrayal, Whisper of Grieving Widows",2.35,Undadarla37
195,14,Male,160,Azurewrath,2.22,Lirtossa78
196,20,Male,89,"Blazefury, Protector of Delusions",1.50,Chanirra56
197,20,Female,65,Conqueror Adamantite Mace,1.96,Lassast89
198,18,Male,44,Bonecarvin Battle Axe,2.46,Lisasi93
199,30,Female,180,Stormcaller,2.78,Phadai31

In [587]:
#Calculate the number of purchases from the most active screen names
sn_counts = purchasedata_df["SN"].value_counts()
sn_counts

Undirrala66        5
Hailaphos89        4
Saedue76           4
Qarwen67           4
Mindimnya67        4
Sondastan54        4
Isurria36          3
Frichosiala98      3
Chadossa56         3
Lirtosia72         3
Sondim43           3
Seorithstilis90    3
Yasriphos60        3
Lisossa63          3
Ila44              3
Frichaya88         3
Eusri70            3
Aduephos78         3
Yadanun74          3
Mindirra92         3
Aeduera68          3
Aerithllora36      3
Chanastsda67       3
Tillyrin30         3
Haellysu29         3
Isursti83          3
Chamistast30       3
Chadjask77         3
Haerith37          3
Lisistaya47        3
                  ..
Iduedru67          1
Idairin80          1
Ralonurin90        1
Iral74             1
Sundassa93         1
Frichistast39      1
Marilsa48          1
Aerithriaphos45    1
Phially37          1
Airidil41          1
Phainasu47         1
Aillyriadru65      1
Inguron55          1
Eusri26            1
Undiwinya88        1
Frichossast75      1
Eollym91           1
Heunadil74         1
Heolo60            1
Seuthelis34        1
Lassista97         1
Yasur35            1
Chanastnya43       1
Sundim98           1
Hirirap39          1
Minduli80          1
Siathecal92        1
Iallyphos37        1
Chadadarya31       1
Filrion59          1
Name: SN, Length: 573, dtype: int64

In [588]:
# Calculate the total number of players
total_players = sn_counts.count()
total_players

573

In [589]:
# Create table to display the Total players
player_count = pd.DataFrame({"Total Players": [total_players]
                               
})
player_count

   Total Players
0            573

In [590]:
# Create a dataframe for total counts for each Game title
item_counts = purchasedata_df["Item Name"].value_counts()
item_counts

Final Critic                                    14
Arcane Gem                                      11
Betrayal, Whisper of Grieving Widows            11
Stormcaller                                     10
Retribution Axe                                  9
Trickster                                        9
Woeful Adamantite Claymore                       9
Serenity                                         9
Crucifer                                         8
Bonecarvin Battle Axe                            8
Crying Steel Sickle                              8
Splitter, Foe Of Subtlety                        8
Darkheart                                        8
Conqueror Adamantite Mace                        8
Persuasion                                       7
Feral Katana                                     7
Blade of the Grave                               7
Alpha                                            7
Darkheart, Butcher of the Champion               7
Spectral Diamond Doomblade                       7
Victor Iron Spikes                               7
Alpha, Oath of Zeal                              7
Torchlight, Bond of Storms                       7
Brimstone                                        7
Wolf, Promise of the Moonwalker                  7
Extraction, Quickblade Of Trembling Hands        7
Amnesia                                          6
Venom Claymore                                   6
Alpha, Reach of Ending Hope                      6
Soul Infused Crystal                             6
                                                ..
Oathbreaker, Last Hope of the Breaking Storm     2
Malice, Legacy of the Queen                      2
Piece Maker                                      2
Pursuit, Cudgel of Necromancy                    2
Winter's Bite                                    2
Warped Iron Scimitar                             2
Foul Titanium Battle Axe                         2
Blood-Forged Skeletal Spine                      2
Tranquility, Razor of Black Magic                2
Freak's Bite, Favor of Holy Might                2
Warped Fetish                                    2
Worldbreaker                                     2
Yearning Crusher                                 2
Dreamsong                                        2
Thorn, Conqueror of the Corrupted                2
Blazefury, Protector of Delusions                2
Bloodlord's Fetish                               1
Sun Strike, Jaws of Twisted Visions              1
Lightning, Etcher of the King                    1
Soul-Forged Steel Shortsword                     1
Exiled Mithril Longsword                         1
Splinter                                         1
Phantomlight                                     1
Verdict                                          1
Foul Edge                                        1
Hellreaver, Heirloom of Inception                1
Downfall, Scalpel Of The Emperor                 1
Ghastly Adamantite Protector                     1
Flux, Destroyer of Due Diligence                 1
Exiled Doomblade                                 1
Name: Item Name, Length: 179, dtype: int64

In [591]:
#Calculate the number of unique items
number_of_unique_items = item_counts.count()
number_of_unique_items

179

In [592]:
# Calculate the average purchase price for each game title
average_purchase_price = purchasedata_df["Price"].mean()
average_purchase_price

2.931192307692303

In [593]:
# Calculate the total revenue for all game titles
total_revenue = purchasedata_df["Price"].sum()
total_revenue

2286.3299999999999

In [594]:
# Calculate total number of purchases
number_of_purchases = purchasedata_df["Item ID"].count()
number_of_purchases

780

In [595]:
# Create a new table consolodating above calculations
purchase_analysis = pd.DataFrame({"Number of Unique Items": [number_of_unique_items],
                                   "Average Price": [average_purchase_price],
                                   "Number of Purchases": [number_of_purchases],
                                   "Total Revenue": [total_revenue]
})
purchase_analysis

,Average Price,Number of Purchases,Number of Unique Items,Total Revenue
0,2.93,780,179,"2,286.33"

In [596]:
#Arrive at gender counts for Male, Female and Other/Not Specified
gender_counts = purchasedata_df["Gender"].value_counts()
gender_counts.head()

Male                     633
Female                   136
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [597]:
# Calculate percentage of male gamers
gender_male = purchasedata_df["Gender"].value_counts()['Male']
percent_male = (gender_male)/(total_gender)*100
percent_male

81.15384615384616

In [598]:
# Calculate percentage of female gamers
gender_female = purchasedata_df["Gender"].value_counts()['Female']
percent_female = (gender_female)/(total_gender)*100
percent_female

17.435897435897434

In [599]:
# Calculate percentage of gamers that did not specify gender
gender_other = total_gender - gender_male - gender_female
percent_other = (gender_other)/(total_gender)*100
percent_other

1.4102564102564104

In [600]:
# Arrive at percentages for each gender demographic
gender_percent_count = [percent_male,percent_female,percent_other]
gender_percent_count

[81.15384615384616, 17.435897435897434, 1.4102564102564104]

In [601]:
# Create summary table to display gender demographics
gender_summary_table = pd.DataFrame({
    "Total Count": gender_counts,
    "Percentage of Players": gender_percent_count
})
gender_summary_table.head()

                       Percentage of Players  Total Count
Male                                   81.15          633
Female                                 17.44          136
Other / Non-Disclosed                   1.41           11

In [602]:
# Game purchases made by female
purchase_female = genderpurchase_df.loc[genderpurchase_df["Gender"] == "Female"]
purchase_female.head()

    Gender                Price
7   Female                 3.32
16  Female                 1.14
17  Female                 1.65
22  Female                 2.52
29  Female                 2.46

In [603]:
# Total revenue generated from females
total_purchase_female = purchase_female["Price"].sum()
total_purchase_female

382.90999999999997

In [604]:
# Average purchase price for females
average_purchase_female = purchase_female["Price"].mean()
average_purchase_female

2.815514705882352

In [605]:
# Average purchase price for male
purchase_male = genderpurchase_df.loc[genderpurchase_df["Gender"] == "Male"]
purchase_male.head()

  Gender                Price
0   Male                 3.37
1   Male                 2.32
2   Male                 2.46
3   Male                 1.36
4   Male                 1.27

In [606]:
# Total revenue from male
total_purchase_male = purchase_male["Price"].sum()
total_purchase_male

1867.6800000000001

In [607]:
# Average purchase price for male
average_purchase_male = purchase_male["Price"].mean()
average_purchase_male

2.9505213270142154

In [608]:
# Average purchase price for player that did not specify gender
purchase_other = genderpurchase_df.loc[genderpurchase_df["Gender"] == "Other / Non-Disclosed"]
purchase_other.head()

                    Gender                Price
177  Other / Non-Disclosed                 3.73
209  Other / Non-Disclosed                 2.21
244  Other / Non-Disclosed                 2.36
267  Other / Non-Disclosed                 1.96
276  Other / Non-Disclosed                 4.00

In [609]:
# Total purchase price for gamer that did not specify gender
total_purchase_other = purchase_other["Price"].sum()
total_purchase_other

35.739999999999995

In [610]:
# Average purchase price for gamer that did not specify gender
average_purchase_other = purchase_other["Price"].mean()
average_purchase_other

3.2490909090909086

In [611]:
# Create list of average purchase price for each gender
gender_average_purchase = [average_purchase_male,average_purchase_female,average_purchase_other]
gender_average_purchase

[2.9505213270142154, 2.815514705882352, 3.2490909090909086]

In [612]:
# Create list total revenue by each gender
gender_total_purchase = [total_purchase_male,total_purchase_female,total_purchase_other]
gender_total_purchase

[1867.6800000000001, 382.90999999999997, 35.739999999999995]

In [613]:
normalized_purchase_male = total_purchase_male / gender_counts["Male"]
normalized_purchase_male

2.9505213270142181

In [614]:
normalized_purchase_female = total_purchase_female / gender_counts['Female']
normalized_purchase_female

2.8155147058823529

In [615]:
normalized_purchase_other = total_purchase_other / gender_counts['Other / Non-Disclosed']
normalized_purchase_other

3.2490909090909086

In [616]:
normalized_totals = [normalized_purchase_male, normalized_purchase_female, normalized_purchase_other]
normalized_totals

[2.9505213270142181, 2.8155147058823529, 3.2490909090909086]

In [617]:
# Creating a new DataFrame using both gender and gender_percentage
gender_purchase_summary_table = pd.DataFrame({
    "Purchase Count": gender_counts,
    "Average Purchase Price": gender_average_purchase,
    "Total Purchase Value": gender_total_purchase,
    "Normalized Totals": normalized_totals
})
gender_purchase_summary_table.head()

,Average Purchase Price,Normalized Totals,Purchase Count,Total Purchase Value
Male,2.95,2.95,633,"1,867.68"
Female,2.82,2.82,136,382.91
Other / Non-Disclosed,3.25,3.25,11,35.74

In [618]:
# Create data frame purchases by age(s)
agepurchase_df = purchasedata_df[["Age", "Price"]]
agepurchase_df.head()

   Age                Price
0   38                 3.37
1   21                 2.32
2   34                 2.46
3   21                 1.36
4   23                 1.27

In [632]:
# What Age is the largest in the set?
purchasedata_df["Age"].max()

45

In [620]:
# What Age is the smallest in the set?
purchasedata_df["Age"].min()

7

In [621]:
# Create bins to support age groups
bins = [10,14,19,24,29,34,39,40]

In [622]:
# Create label for each group
group_labels =["<10," "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [623]:
pd.cut(agepurchase_df["Age"],bins,labels=group_labels).head()

0    35-39
1    20-24
2    30-34
3    20-24
4    20-24
Name: Age, dtype: category
Categories (7, object): [<10,10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < 40+]

In [624]:
# Add Total Count to the set and appply age ranges
agepurchase_df["Total Count"] = pd.cut(agepurchase_df["Age"], bins, labels=group_labels)

C:\Users\Ray\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [634]:
# Display table with Age and Price and map to Age groups
agepurchase_df.head(790)

     Age                Price Total Count
0     38                 3.37       35-39
1     21                 2.32       20-24
2     34                 2.46       30-34
3     21                 1.36       20-24
4     23                 1.27       20-24
5     20                 1.73       20-24
6     20                 4.57       20-24
7     29                 3.32       25-29
8     25                 2.77       25-29
9     31                 4.53       30-34
10    24                 3.81       20-24
11    20                 1.55       20-24
12    30                 4.06       30-34
13    23                 3.68       20-24
14    40                 2.46         40+
15    21                 4.77       20-24
16    22                 1.14       20-24
17    22                 1.65       20-24
18    28                 3.71       25-29
19    31                 4.89       30-34
20    24                 2.33       20-24
21    15                 1.79       15-19
22    11                 2.52   <10,10-14
23    19                 2.36       15-19
24    11                 1.96   <10,10-14
25    21                 1.27       20-24
26    29                 3.90       25-29
27    34                 2.29       30-34
28    15                 4.23       15-19
29    16                 2.46       15-19
..   ...                  ...         ...
750   23                 1.28       20-24
751   26                 1.88       25-29
752   15                 2.37       15-19
753   20                 2.28       20-24
754   31                 1.36       30-34
755   22                 1.88       20-24
756   22                 1.20       20-24
757   35                 2.52       35-39
758   20                 1.21       20-24
759   19                 2.20       15-19
760   29                 4.06       25-29
761   28                 1.24       25-29
762   36                 4.39       35-39
763   27                 4.32       25-29
764   25                 3.89       25-29
765   15                 1.49       15-19
766   22                 2.23       20-24
767   20                 1.21       20-24
768   21                 3.56       20-24
769   24                 3.74       20-24
770   22                 3.27       20-24
771   24                 1.03       20-24
772   15                 2.07       15-19
773   21                 2.46       20-24
774   24                 1.14       20-24
775   22                 3.62       20-24
776   14                 1.36   <10,10-14
777   20                 4.15       20-24
778   20                 1.72       20-24
779   23                 3.61       20-24

[780 rows x 3 columns]

In [635]:
age_group = agepurchase_df.groupby("Total Count")

In [627]:
# Calculate percentages of occurrence for each age group
age_percent = age_group["Age"].count()/len(age_group)
age_percent

Total Count
<10,10-14                   4.43
15-19                      19.00
20-24                      48.00
25-29                      17.86
30-34                       9.14
35-39                       6.00
40+                         2.00
Name: Age, dtype: float64

In [630]:
# Create total revenue for each age group
age_total_purchase = age_group["Price"].sum()
age_total_purchase

Total Count
<10,10-14                  83.79
15-19                     386.42
20-24                     978.77
25-29                     370.33
30-34                     197.25
35-39                     119.40
40+                        45.11
Name: Price, dtype: float64

In [631]:
# Creating a new DataFrame for Age demographics
age_purchase_summary_table = pd.DataFrame({
    "Total Count": age_group["Age"].count(),
    "Percentage of Players": age_percent,
    "Total Purchase Value": age_total_purchase
    
})
age_purchase_summary_table.head(10)

             Percentage of Players  Total Count  Total Purchase Value
Total Count
<10,10-14                     4.43           31                 83.79
15-19                        19.00          133                386.42
20-24                        48.00          336                978.77
25-29                        17.86          125                370.33
30-34                         9.14           64                197.25
35-39                         6.00           42                119.40
40+                           2.00           14                 45.11

In [629]:
# Display total revenue by age group
age_purchase = age_group["Price"].sum()
age_purchase

Total Count
<10,10-14                  83.79
15-19                     386.42
20-24                     978.77
25-29                     370.33
30-34                     197.25
35-39                     119.40
40+                        45.11
Name: Price, dtype: float64

In [636]:
# Create avg. purchase for each age group
age_average = age_group["Price"].mean()
age_average

Total Count
<10,10-14                   2.70
15-19                       2.91
20-24                       2.91
25-29                       2.96
30-34                       3.08
35-39                       2.84
40+                         3.22
Name: Price, dtype: float64

In [569]:
normalized_average = age_purchase / age_group["Age"].count()
normalized_average

Total Count
<10,10-14                   2.70
15-19                       2.91
20-24                       2.91
25-29                       2.96
30-34                       3.08
35-39                       2.84
40+                         3.22
dtype: float64

In [570]:
# Creating table summary for purchase analysis by age
purchase_by_age_summary_table = pd.DataFrame({
    "Purchase Count": age_group["Age"].count(),
    "Average Purchase Price": age_average,
    "Total Purchase Value": age_purchase,
    "Normalized Totals": normalized_average
    
  
})
purchase_by_age_summary_table.head()

,Average Purchase Price,Normalized Totals,Purchase Count,Total Purchase Value
Total Count,,,,
"<10,10-14",2.70,2.70,31,83.79
15-19,2.91,2.91,133,386.42
20-24,2.91,2.91,336,978.77
25-29,2.96,2.96,125,370.33
30-34,3.08,3.08,64,197.25

In [571]:
# Create new data frame of screen name and price
screen_namepurchase_df = purchasedata_df[["SN", "Price"]]
screen_namepurchase_df.head()

             SN                Price
0     Aelalis34                 3.37
1        Eolo46                 2.32
2   Assastnya25                 2.46
3  Pheusrical25                 1.36
4        Aela59                 1.27

In [572]:
# Create group of Screen Names
sn_group = screen_namepurchase_df.groupby("SN")
sn_group

In [573]:
# Create average purchase for each user
sn_avg_purchase = sn_group["Price"].mean()
sn_avg_purchase

SN
Adairialis76                      2.46
Aduephos78                        2.23
Aeduera68                         1.93
Aela49                            2.46
Aela59                            1.27
Aelalis34                         2.53
Aelin32                           3.14
Aeliriam77                        3.36
Aeliriarin93                      2.04
Aeliru63                          4.49
Aellyria80                        4.32
Aellyrialis39                     3.15
Aellysup38                        3.61
Aelollo59                         1.55
Aenarap34                         1.65
Aenasu69                          3.27
Aeral43                           2.72
Aeral85                           4.25
Aeral97                           2.35
Aeri84                            3.30
Aerillorin70                      1.88
Aerithllora36                     3.48
Aerithnucal56                     1.59
Aerithnuphos61                    1.69
Aerithriaphos45                   2.38
Aesty51                           1.82
Aesur96                           4.66
Aethe80                           2.32
Aethedru70                        2.97
Aidain51                          3.42
                          ...
Undjaskla97                       4.57
Undjasksya56                      4.53
Undotesta33                       3.90
Wailin72                          2.04
Whaestysu86                       4.08
Yadacal26                         1.93
Yadaisuir65                       4.28
Yadanun74                         3.03
Yalaeria91                        1.88
Yaliru88                          3.71
Yalo71                            2.41
Yalostiphos68                     2.37
Yaralnura48                       2.10
Yararmol43                        1.55
Yarirarn35                        2.88
Yaristi64                         1.24
Yarithllodeu72                    2.19
Yarithphos28                      2.35
Yarithsurgue62                    2.41
Yarmol79                          2.91
Yarolwen77                        3.49
Yasriphos60                       3.47
Yasrisu92                         2.60
Yasur35                           2.78
Yasur85                           2.04
Yasurra52                         3.14
Yathecal72                        3.88
Yathecal82                        2.41
Zhisrisu83                        1.23
Zontibe81                         3.71
Name: Price, Length: 573, dtype: float64

In [574]:
# Calculate total revenue generated from each customer/screen name
sn_total_purchase = sn_group["Price"].sum()
sn_total_purchase

SN
Adairialis76                      2.46
Aduephos78                        6.70
Aeduera68                         5.80
Aela49                            2.46
Aela59                            1.27
Aelalis34                         5.06
Aelin32                           3.14
Aeliriam77                        6.72
Aeliriarin93                      2.04
Aeliru63                          8.98
Aellyria80                        4.32
Aellyrialis39                     3.15
Aellysup38                        3.61
Aelollo59                         1.55
Aenarap34                         1.65
Aenasu69                          3.27
Aeral43                           2.72
Aeral85                           4.25
Aeral97                           2.35
Aeri84                            6.60
Aerillorin70                      1.88
Aerithllora36                    10.45
Aerithnucal56                     3.18
Aerithnuphos61                    1.69
Aerithriaphos45                   2.38
Aesty51                           1.82
Aesur96                           4.66
Aethe80                           2.32
Aethedru70                        2.97
Aidain51                          6.84
                          ...
Undjaskla97                       4.57
Undjasksya56                      4.53
Undotesta33                       3.90
Wailin72                          2.04
Whaestysu86                       4.08
Yadacal26                         1.93
Yadaisuir65                       8.56
Yadanun74                         9.09
Yalaeria91                        1.88
Yaliru88                          3.71
Yalo71                            2.41
Yalostiphos68                     2.37
Yaralnura48                       4.19
Yararmol43                        1.55
Yarirarn35                        2.88
Yaristi64                         1.24
Yarithllodeu72                    2.19
Yarithphos28                      2.35
Yarithsurgue62                    4.81
Yarmol79                          2.91
Yarolwen77                        6.98
Yasriphos60                      10.40
Yasrisu92                         2.60
Yasur35                           2.78
Yasur85                           2.04
Yasurra52                         3.14
Yathecal72                        7.77
Yathecal82                        2.41
Zhisrisu83                        2.46
Zontibe81                         3.71
Name: Price, Length: 573, dtype: float64

In [575]:
# Creating a new DataFrame to purchase analysis by customer or screenname
purchase_by_screenname_summary_table = pd.DataFrame({
    "Purchase Count": sn_counts,
    "Average Purchase Price": sn_avg_purchase,
    "Total Purchase Value": sn_total_purchase
    
  
})
purchase_by_screenname_summary_table.head()

              Average Purchase Price  Purchase Count  Total Purchase Value
Adairialis76                    2.46               1                  2.46
Aduephos78                      2.23               3                  6.70
Aeduera68                       1.93               3                  5.80
Aela49                          2.46               1                  2.46
Aela59                          1.27               1                  1.27

In [576]:
# Create new data frame for Item name and price
item_namepurchase_df = purchasedata_df[["Item Name", "Price"]]
item_namepurchase_df.head()

                                   Item Name                Price
0                Bone Crushing Silver Skewer                 3.37
1  Stormbringer, Dark Blade of Ending Misery                 2.32
2                            Primitive Blade                 2.46
3                               Final Critic                 1.36
4                             Stormfury Mace                 1.27

In [577]:
# Group purchases by Item name
item_group = item_namepurchase_df.groupby("Item Name")
item_group

In [578]:
# Arrive at the counts for each title
item_most_popular = item_namepurchase_df["Item Name"].value_counts()
item_most_popular
# Arrive at most popular game by number of purchases and sort in ascending order
item_sorted_most_popular = item_most_popular.sort_values(ascending = False)
item_sorted_most_popular

Final Critic                                 14
Arcane Gem                                   11
Betrayal, Whisper of Grieving Widows         11
Stormcaller                                  10
Retribution Axe                               9
Trickster                                     9
Woeful Adamantite Claymore                    9
Serenity                                      9
Splitter, Foe Of Subtlety                     8
Conqueror Adamantite Mace                     8
Darkheart                                     8
Bonecarvin Battle Axe                         8
Crying Steel Sickle                           8
Crucifer                                      8
Victor Iron Spikes                            7
Extraction, Quickblade Of Trembling Hands     7
Wolf, Promise of the Moonwalker               7
Brimstone                                     7
Torchlight, Bond of Storms                    7
Alpha, Oath of Zeal                           7
Blade of the Grave                            7
Spectral Diamond Doomblade                    7
Darkheart, Butcher of the Champion            7
Alpha                                         7
Feral Katana                                  7
Persuasion                                    7
Singed Scalpel                                6
Blazeguard, Reach of Eternity                 6
Avenger                                       6
Orenmir                                       6
                                             ..
Yearning Crusher                              2
Dreamsong                                     2
Thorn, Conqueror of the Corrupted             2
Blazefury, Protector of Delusions             2
Foul Titanium Battle Axe                      2
Blood-Forged Skeletal Spine                   2
Deathraze                                     2
Warped Iron Scimitar                          2
Winter's Bite                                 2
Pursuit, Cudgel of Necromancy                 2
Piece Maker                                   2
Malice, Legacy of the Queen                   2
Renewed Skeletal Katana                       2
Emberling, Defender of Delusions              2
Fusion Pummel                                 2
Vindictive Glass Edge                         2
Hellreaver, Heirloom of Inception             1
Foul Edge                                     1
Phantomlight                                  1
Downfall, Scalpel Of The Emperor              1
Ghastly Adamantite Protector                  1
Verdict                                       1
Flux, Destroyer of Due Diligence              1
Splinter                                      1
Exiled Mithril Longsword                      1
Soul-Forged Steel Shortsword                  1
Lightning, Etcher of the King                 1
Sun Strike, Jaws of Twisted Visions           1
Bloodlord's Fetish                            1
Exiled Doomblade                              1
Name: Item Name, Length: 179, dtype: int64

In [579]:
# Calculate total revenue for each item name
item_total_purchase = item_group["Price"].sum()
item_total_purchase

Item Name
Abyssal Shard                                              6.12
Aetherius, Boon of the Blessed                            19.00
Agatha                                                     9.55
Alpha                                                     10.92
Alpha, Oath of Zeal                                       20.16
Alpha, Reach of Ending Hope                                9.30
Amnesia                                                   21.42
Apocalyptic Battlescythe                                  15.64
Arcane Gem                                                24.53
Avenger                                                   24.96
Azurewrath                                                11.10
Betrayal, Whisper of Grieving Widows                      25.85
Betrayer                                                   5.01
Blade of the Grave                                        11.83
Blazefury, Protector of Delusions                          3.00
Blazeguard, Reach of Eternity                             24.00
Blindscythe                                               18.30
Blood Infused Guardian                                    14.30
Blood-Forged Skeletal Spine                                9.54
Bloodlord's Fetish                                         2.28
Bone Crushing Silver Skewer                               10.11
Bonecarvin Battle Axe                                     19.68
Brimstone                                                 17.64
Brutality Ivory Warmace                                    6.88
Celeste                                                   22.26
Celeste, Incarnation of the Corrupted                      9.24
Chaos, Ender of the End                                   11.37
Conqueror Adamantite Mace                                 15.68
Crucifer                                                  20.20
Crying Steel Sickle                                       18.32
                                                   ...
Thorn, Conqueror of the Corrupted                          4.08
Thorn, Satchel of Dark Souls                              27.06
Thunderfury Scimitar                                       9.06
Toothpick                                                 17.40
Torchlight, Bond of Storms                                12.39
Tranquility, Razor of Black Magic                          4.94
Trickster                                                 18.63
Twilight's Carver                                          5.70
Undead Crusader                                           18.68
Unending Tyranny                                           3.63
Unholy Wand                                                7.52
Vengeance Cleaver                                         11.10
Venom Claymore                                            16.32
Verdict                                                    3.40
Victor Iron Spikes                                        24.85
Vindictive Glass Edge                                      8.52
War-Forged Gold Deflector                                 11.19
Warmonger, Gift of Suffering's End                        23.76
Warped Diamond Crusader                                   13.98
Warped Fetish                                              4.82
Warped Iron Scimitar                                       8.16
Whistling Mithril Warblade                                17.28
Winter's Bite                                              2.78
Winterthorn, Defender of Shifting Worlds                  19.56
Woeful Adamantite Claymore                                11.16
Wolf                                                       9.20
Wolf, Promise of the Moonwalker                           13.16
Worldbreaker                                               6.58
Yearning Crusher                                           2.12
Yearning Mageblade                                         7.16
Name: Price, Length: 179, dtype: float64

In [637]:
# Sort table by game that generated the most revenue
item_sorted_total_purchases = item_total_purchase.sort_values(ascending = False)
item_sorted_total_purchases

Item Name
Final Critic                                                  38.60
Retribution Axe                                               37.26
Stormcaller                                                   34.65
Spectral Diamond Doomblade                                    29.75
Orenmir                                                       29.70
Singed Scalpel                                                29.22
Splitter, Foe Of Subtlety                                     28.88
Thorn, Satchel of Dark Souls                                  27.06
Fiery Glass Crusader                                          26.70
Betrayal, Whisper of Grieving Widows                          25.85
Darkheart                                                     25.20
Avenger                                                       24.96
Darkheart, Butcher of the Champion                            24.92
Victor Iron Spikes                                            24.85
Arcane Gem                                                    24.53
Persuasion                                                    24.15
Stormfury Longsword                                           24.15
Blazeguard, Reach of Eternity                                 24.00
Warmonger, Gift of Suffering's End                            23.76
Hopeless Ebon Dualblade                                       23.75
Extraction, Quickblade Of Trembling Hands                     23.73
Purgatory, Gem of Regret                                      23.46
Mercenary Sabre                                               22.85
Ritual Mace                                                   22.44
Celeste                                                       22.26
Rage, Legacy of the Lone Victor                               21.60
Dawne                                                         21.50
Amnesia                                                       21.42
The Oculus, Token of Lost Worlds                              21.15
Massacre                                                      20.52
                                                       ...
Tranquility, Razor of Black Magic                              4.94
Warped Fetish                                                  4.82
Oathbreaker, Last Hope of the Breaking Storm                   4.82
Malice, Legacy of the Queen                                    4.76
Renewed Skeletal Katana                                        4.74
Nirvana                                                        4.44
Hero Cane                                                      4.12
Thorn, Conqueror of the Corrupted                              4.08
Putrid Fan                                                     3.96
Unending Tyranny                                               3.63
Rusty Skull                                                    3.60
Hellreaver, Heirloom of Inception                              3.59
Orbit                                                          3.48
Verdict                                                        3.40
Ghastly Adamantite Protector                                   3.30
Exiled Mithril Longsword                                       3.25
Downfall, Scalpel Of The Emperor                               3.20
Frenzy, Defender of the Harvest                                3.18
Flux, Destroyer of Due Diligence                               3.04
Blazefury, Protector of Delusions                              3.00
Winter's Bite                                                  2.78
Sun Strike, Jaws of Twisted Visions                            2.64
Foul Edge                                                      2.38
Bloodlord's Fetish                                             2.28
Yearning Crusher                                               2.12
Exiled Doomblade                                               1.92
Splinter                                                       1.82
Phantomlight                                                   1.79
Lightning, Etcher of the King                                  1.65
Soul-Forged Steel Shortsword                                   1.16
Name: Price, Length: 179, dtype: float64

In [581]:
# Calculate item price for each item name
item_price = item_total_purchase/item_most_popular
item_price

Abyssal Shard                                              2.04
Aetherius, Boon of the Blessed                             4.75
Agatha                                                     1.91
Alpha                                                      1.56
Alpha, Oath of Zeal                                        2.88
Alpha, Reach of Ending Hope                                1.55
Amnesia                                                    3.57
Apocalyptic Battlescythe                                   3.91
Arcane Gem                                                 2.23
Avenger                                                    4.16
Azurewrath                                                 2.22
Betrayal, Whisper of Grieving Widows                       2.35
Betrayer                                                   1.67
Blade of the Grave                                         1.69
Blazefury, Protector of Delusions                          1.50
Blazeguard, Reach of Eternity                              4.00
Blindscythe                                                3.66
Blood Infused Guardian                                     2.86
Blood-Forged Skeletal Spine                                4.77
Bloodlord's Fetish                                         2.28
Bone Crushing Silver Skewer                                3.37
Bonecarvin Battle Axe                                      2.46
Brimstone                                                  2.52
Brutality Ivory Warmace                                    1.72
Celeste                                                    3.71
Celeste, Incarnation of the Corrupted                      2.31
Chaos, Ender of the End                                    3.79
Conqueror Adamantite Mace                                  1.96
Crucifer                                                   2.53
Crying Steel Sickle                                        2.29
                                                   ...
Thorn, Conqueror of the Corrupted                          2.04
Thorn, Satchel of Dark Souls                               4.51
Thunderfury Scimitar                                       3.02
Toothpick                                                  3.48
Torchlight, Bond of Storms                                 1.77
Tranquility, Razor of Black Magic                          2.47
Trickster                                                  2.07
Twilight's Carver                                          1.14
Undead Crusader                                            4.67
Unending Tyranny                                           1.21
Unholy Wand                                                1.88
Vengeance Cleaver                                          3.70
Venom Claymore                                             2.72
Verdict                                                    3.40
Victor Iron Spikes                                         3.55
Vindictive Glass Edge                                      4.26
War-Forged Gold Deflector                                  3.73
Warmonger, Gift of Suffering's End                         3.96
Warped Diamond Crusader                                    4.66
Warped Fetish                                              2.41
Warped Iron Scimitar                                       4.08
Whistling Mithril Warblade                                 4.32
Winter's Bite                                              1.39
Winterthorn, Defender of Shifting Worlds                   4.89
Woeful Adamantite Claymore                                 1.24
Wolf                                                       1.84
Wolf, Promise of the Moonwalker                            1.88
Worldbreaker                                               3.29
Yearning Crusher                                           1.06
Yearning Mageblade                                         1.79
Length: 179, dtype: float64

In [582]:
# Creating a new DataFrame to purchase analysis for most popular items
most_popular_summary_table = pd.DataFrame({
    "Purchase Count": item_most_popular.sort_values(ascending = False),
    "Item Price": item_price,
    "Total Purchase Value": item_total_purchase
    
  
})
most_popular_summary_table.head()

,Item Price,Purchase Count,Total Purchase Value
Abyssal Shard,2.04,3,6.12
"Aetherius, Boon of the Blessed",4.75,4,19.00
Agatha,1.91,5,9.55
Alpha,1.56,7,10.92
"Alpha, Oath of Zeal",2.88,7,20.16

In [583]:
# Creating a new DataFrame to purchase analysis for most profitable items
most_profitable_summary_table = pd.DataFrame({
    "Purchase Count": item_most_popular,
    "Item Price": item_price,
    "Total Purchase Value": item_total_purchase.sort_values(ascending = False)
    
  
})
most_profitable_summary_table.head()

,Item Price,Purchase Count,Total Purchase Value
Abyssal Shard,2.04,3,6.12
"Aetherius, Boon of the Blessed",4.75,4,19.00
Agatha,1.91,5,9.55
Alpha,1.56,7,10.92
"Alpha, Oath of Zeal",2.88,7,20.16